# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Tox ---
# Ignore the directory where tox creates virtual environments and stores logs/data
.tox/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# System files
.DS_Store
Thumbs.db
Desktop.ini

# Jupyter Notebook
.ipynb_checkpoints
